* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

nav{
    padding: 10px;
}

ul {
  display: flex;
}

ul li {
  padding: 24px 10px;
}

button {
    position: relative;
    Width: 130px;
    Height: 41px;
    border-radius: 20.5px;
    background-color: #665AE1;
    color: #fff;
    margin-top: 10px;
}
